*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#080808;
color:white;
}

header{
padding:40px;
text-align:center;
background:#111;
border-bottom:2px solid gold;
}

header h1{
color:gold;
font-size:50px;
}

header p{
margin-top:10px;
color:#ccc;
}

nav{
display:flex;
justify-content:center;
gap:30px;
padding:20px;
background:#181818;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:80px 20px;
text-align:center;
}

.hero h2{
font-size:42px;
color:gold;
margin-bottom:20px;
}

button{
background:gold;
color:black;
padding:14px 30px;
border:none;
border-radius:40px;
font-weight:bold;
cursor:pointer;
margin-top:15px;
}

.cars{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

padding:40px;

}

.car{

background:#181818;

border-radius:20px;

overflow:hidden;

transition:.3s;

border:1px solid #333;

}

.car:hover{

transform:translateY(-8px);

box-shadow:0 0 25px gold;

}

.car img{

width:100%;

height:220px;

object-fit:cover;

}

.car h3{

padding:15px;

color:gold;

}

.car p{

padding:0 15px;

}

.car button{

margin:15px;

}

footer{

text-align:center;

padding:30px;

background:#111;

margin-top:40px;

}
